// variables
$dark-grayish-blue: hsl(238, 29%, 16%);
$dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);
$fontfamily: "Manrope", serif;
$fontsize: 13px;
